*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    position: fixed;
    background-color: rgb(89,89,89);
    height: 100vh;
    border-radius: 5%;
    color: white;
    padding: 30px;
}

.container{
    background-image: url(./imgs/gif.gif) ;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;    
}

.logo{
    display: flex;
    align-items: end;
    margin-bottom: 200px;
}

.links__text{
    margin-bottom: 40px;
}

.links__text:hover{
    color: rgb(35, 35, 35);
}

a{
text-decoration: none;
color: white;
}

.start{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.start__btn{
    height: 50px;
    width: 200px;
    background-color: rgb(71, 108, 220);
    color: white;
    border: none ;
    border-radius: 15%;
    cursor: pointer;
}

.start__btn:hover{
    transform: scale(1.1);
}

.priselist{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
}

.priselist__div{
    text-align: center;
    font-size: 20px;

    padding: 10px;
}



.about{
    width: 100%;
    height: 100vh;
    text-align: center;
    padding: 100px;
    color: white;
}

.about__img{
    margin-bottom: 50px;
    width: 300px;
    height: 300px;
}

.about__text{
    font-size: 20px;
}